.btn-orange-border {
    border: 3px solid rgb(255, 153, 0);
    border-radius: 4px;
    padding: 4px;
    display: inline-block;
  }
  
  .show {
    position: absolute;
    right: 13px;
    font-size: 13px;
    font-weight: 700;
    color: #222;
    display: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
  }
  
  .swal2-confirm.buttonsStyling {
    background-color: orange !important; /* Changer la couleur de fond en orange */
    border-color: orange !important;     /* Changer la couleur de la bordure en orange */
    color: white !important;             /* Assurez-vous que le texte soit visible */
  }
  