.btn-orange-border {
    border: 3px solid rgb(241, 241, 239);
    border-radius: 4px;
    padding: 4px;
    display: inline-block;
  }
  
  .content{
   
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    
  }
  .btn-orange {
    background-color: #ff7900; 
    
}
  
  .swal2-confirm.buttonsStyling {
    background-color: orange !important; /* Changer la couleur de fond en orange */
    border-color: orange !important;     /* Changer la couleur de la bordure en orange */
    color: white !important;             /* Assurez-vous que le texte soit visible */
  }
  .orange-border {
    border: 2px solid rgb(122, 121, 121);
  }
  .btn-orange {
    background-color: #ff7900; /* Couleur orange */
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn-orange:hover {
    background-color: #e67e22; /* Couleur orange foncé au survol */
}
.disabled {
  pointer-events: none;
  opacity: 0.6;
}
