.btn-orange-border {
    border: 3px solid rgb(255, 153, 0);
    border-radius: 4px;
    padding: 4px;
    display: inline-block;
}

.annonce {
    padding-right: 30px;
}

.orange-border {
    border: 2px solid orange;
  }
  .content{
   
    box-shadow: -1px 4px 28px 0px rgba(0,0,0,0.75);
    
  }
  .pagination .page-item .page-link {
    cursor: pointer;
  }
  
  .pagination .page-item.disabled .page-link {
    cursor: not-allowed;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #007bff;
    border-color: #007bff;
    color: white;
  }
  .card-container {
    height: 500px; 
  }
  .small-button {
    padding: 2px 5px; 
  }
  
  .small-button img {
    width: 20px; 
    height: 20px; 
  }
  .dropdown-menu {
    margin-top: 10px; 
    width: 20px; 
    height: 50px; 
  }
  .align-items-start {
    align-items: flex-start;
  }

  .list-unstyled {
    padding-left: 0;
    list-style: none;
  }

  .d-flex {
    display: flex;
  }

  .gap-2 {
    gap: 0.5rem; /* You can adjust this value as needed */
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .m-0 {
    margin: 0;
  }
  

  