   <div class="file-upload" style="margin-top: 40px;">
    <label class="align-middle" for="formFileLg" class="form-label" >Regardez bien droit devant vous, sans lunettes de soleil et sans personne à côté de vous.</label>
    <input class="form-control form-control-lg" id="formFileLg" type="file" (change)="onFileSelected($event)" accept="image/jpeg, image/png, image/jpg, image/avif">
    <div class="d-grid gap-2 col-3 mx-auto">
    <button class="btn btn-secondary btn" (click)="onUpload()">Enregistrer</button>
    </div>
    
  </div>


  