<!-- <div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-header">
        <ol class="list-unstyled d-flex gap-2 flex-wrap m-0 justify-content-end">
          <li><a class="tag" href="/Add-event">Add Event</a></li>
          <li><a href="/event" class="tag"  >Event Planned </a> </li>
        </ol>
      </div>

<form [formGroup]="eventUpdateform" (ngSubmit)="updateEventForm()">

  <label for="eventName">Event Name:</label>
  <input type="text" id="eventName" formControlName="eventName">

  <label for="eventDate">Event Date:</label>
  <input type="date" id="eventDate" formControlName="eventDate">


  <label for="location">Location:</label>
  <input type="text" id="location" formControlName="location">

  <button href="/event" type="submit">Update Event</button>
</form>
</div>
</div> -->
