<div class="card">
    <!-- Nouvelle partie ajoutée -->
    <div class="card-header d-flex justify-content-center align-items-center">
        <h6>Mon Historique</h6>
      </div>

    <div class="card-body">
      <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4">
        <div class="col" *ngFor="let announcement of announcements">
          <div class="content mb-3 rounded card-container h-100">
            <div class="row g-0 rounded-top h-100">
              <div class="col-md-12 d-flex justify-content-end">
                <div class="d-flex justify-content-end">
                  <button class="btn small-button" *ngIf="currentUserMatchesAnnouncementUserId(announcement.userId)" (click)="deleteAnnouncementDriver(announcement.annonceID)" title="Supprimer">
                    <img src="assets/brand/trash.png" alt="Delete">
                  </button>
                </div>
              </div>
              <div class="flex-row h-100" [ngStyle]="{ 'padding-top': !currentUserMatchesAnnouncementUserId(announcement.userId) ? '37px' : '0px' }">
                <div class="d-flex flex-column justify-content-center">
                  <img src="assets/brand/covo.png" class="img-fluid card-img-top" alt="Covoiturage Image" style="width: 85px; height: 85px;" />
                  <p class="card-text mb-0">
                    <strong>{{ getCollaboratorName(announcement.userId) }}</strong>
                  </p>
                </div>
                <div class="flex-grow-1 ms-3 d-flex flex-column justify-content-between">
                  <div class="card-body flex-grow-1">
                    <div class="d-flex align-items-center justify-content-between">
                      <h5 class="card-title text-primary">{{ announcement.rayon }}</h5>
                      <div class="d-flex align-items-center text-primary">
                        <img src="assets/brand/hourglass.png" alt="Il reste" style="width: 20px; height: 20px; margin-right: 5px;" />
                        <strong>: {{ getRemainingDays(announcement.dateCovoiturage) }}</strong>
                      </div>
                    </div>
                    <hr>
                    <div class="card" style="height: 300px; border: 0; overflow-y: auto;">
                      <div class="card-body justify-content-between flex-grow-1">
                        <p class="card-text">
                          <li>
                            <img src="assets/brand/month.png" alt="Date de covoiturage" style="width: 30px; height: 30px; margin-right: 5px;" />
                            <strong>: {{ announcement.dateCovoiturage | date: 'dd/MM/yyyy' }}</strong>, 
                            <img src="assets/brand/clock.png" alt="Date de covoiturage" style="width: 20px; height: 20px; margin-right: 5px;" />
                            <strong>: {{ announcement.heureDepart }}H</strong>
                          </li>
                        </p>
                        <p class="card-text">
                          <li>
                            <img src="assets/brand/group.png" alt="Nombre des places" style="width: 30px; height: 30px; margin-right: 5px;" />
                            <strong>: {{ announcement.nbrPlaces }}</strong>
                          </li>
                        </p>
                        <p class="card-text">
                          <li>
                            <img src="assets/brand/currency-dollar.png" alt="Prix" style="width: 30px; height: 30px; margin-right: 5px;" />
                            <strong>: {{ announcement.prix === 0 ? 'Gratuit' : announcement.prix + ' DT' }}</strong>
                          </li>
                        </p>
                      </div>
                    </div>
                  </div>
                  <div class="d-flex align-items-center mt-auto px-3 pb-3">
                    <button class="btn me-3" (click)="showRouteDetails(announcement.routeID)" title="Route">
                      <img src="assets/brand/locations.png" alt="route" style="width: 40px; height: 40px;">
                    </button>
                    <button class="btn" (click)="viewDetails(announcement, announcement.routeID)" title="Details">
                      <img src="assets/brand/info.png" alt="Details" style="width: 30px; height: 30px;">
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  