<div class="bg-img">
  <div class="content rounded">
    <header>Login Form</header>
    <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
      <div class="field">
        <span> <img src="assets/login/avatar.png" style="width: 24px; height: 24px;"> </span>
        <input type="text" formControlName="email" placeholder="Email" required>
        <div *ngIf="loginForm.get('email')?.invalid && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
          <div *ngIf="loginForm.get('email')?.errors?.['required']">Email is required.</div>
          <div *ngIf="loginForm.get('email')?.errors?.['email']">Invalid email address.</div>
        </div>
      </div>
      <div class="field space">
        <span> <img src="assets/login/lock.png" style="width: 24px; height: 24px;"> </span>
        <input type="password" formControlName="password" placeholder="Password" required>
        <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
          <div *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</div>
        </div>
      </div>
      <div class="field">
        <input type="submit" value="LOGIN" [disabled]="loginForm.invalid">
      </div>
    </form>
    <div class="alert-container" *ngIf="loginError">
      <div class="alert alert-danger" role="alert">
        <span class="alert-icon"><span class="visually-hidden">Error</span></span>
        <p>Incorrect email or password</p>
      </div>
    </div>
  </div>
</div>
