
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <ol class="list-unstyled d-flex gap-2 flex-wrap m-0 justify-content-end">
            <li><a class="tag" href="/Add-event">Add Event</a></li>
            <li><a href="/event" class="tag"  >Event Planned </a> </li>
          </ol>
        </div>
    </div>
</div>
<!-- <form [formGroup]="eventUpdateForm" (ngSubmit)="saveEvent()">
    <label for="eventName">Event Name:</label>
    <input type="text" id="eventName" formControlName="eventName">
    <div *ngIf="eventName.invalid && (eventName.dirty || eventName.touched)">
      <div *ngIf="eventName.errors?.required">Event Name is required.</div>
      <div *ngIf="eventName.errors?.minlength">Event Name must be at least 5 characters long.</div>
    </div>
  
    <label for="eventDate">Event Date:</label>
    <input type="date" id="eventDate" formControlName="eventDate">
    <div *ngIf="eventDate.invalid && (eventDate.dirty || eventDate.touched)">
      <div *ngIf="eventDate.errors?.required">Event Date is required.</div>
    </div>
  
    <label for="datePublication">Date Publication:</label>
    <input type="text" id="datePublication" formControlName="datePublication">
  
    <label for="location">Location:</label>
    <input type="text" id="location" formControlName="location">
    <div *ngIf="location.invalid && (location.dirty || location.touched)">
      <div *ngIf="location.errors?.required">Location is required.</div>
    </div>
  
    <button type="submit">Save Event</button>
    <button type="button" (click)="resetForm()">Reset Form</button>
  </form>
   -->